img {
    padding-bottom: 1cm;
    max-width: 100%;
    max-height: 100vh;
    width: auto;
    margin: auto;
}
h1 {
    color:red;
    font-size: 220%;
}
p {
    font-weight: bold;
    font-size: 120%;
}
iframe {
    max-width: 100%;
    max-height: 100vh;
    width: auto;
    margin: auto;
} 
.girls {
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 768px) {
    .video {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;
      }
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 50%;
      }
}